---
import LinkCard from '@/components/cards/LinkCard.astro'
import AcademyCapIcon from '@/components/utils/icons/AcademyCapIcon.astro'
---

<section class='p-6'>
    <ul class='grid leading-none'>
        <li class='bg-(--bg1) border border-(--br2) rounded-lg p-4 relative overflow-hidden group animate-fade-in-up'>
            <LinkCard
                href='https://chat.whatsapp.com/JhTi5VUM3s8FQp2WdLow8z'
                class='flex items-center gap-3'
                arrow>
        
                <div class='w-11 h-11 grid place-content-center bg-[url("/backgrounds/lines-bg.svg")] bg-size-[40px_40px] border border-dashed border-(--br3) rounded-lg'>
                    <AcademyCapIcon class='size-5 text-(--fg2)' />
                </div>
        
                <div>
                    <h6 class='text-white'>
                        Computer Engineering carreer
                    </h6>
                    <p class='text-(--fg2) text-sm block mt-1 whitespace-nowrap'>
                        Please make clic here to join the community
                    </p>
                </div>
            </LinkCard>
        </li>
    </ul>
</section>