---
import Hr from '@/components/utils/Hr.astro'
import Row from '@/components/sections/gallery/Row.astro'
---

<section>
    <Row
        index='01'
        title='ECSC 2025'
        eventName='European Cybersecurity Challenge'
        key='ecsc_2025'
    />

    <Hr />

    <Row
        index='02'
        title='CSC 2025'
        eventName='CyberSec Challenge'
        key='csc_2025'
    />
</section>