---
import AngleArrowIcon from '@/components/utils/icons/AngleArrowIcon.astro'
import TypoMono from '@/components/utils/TypoMono.astro'

const { ...props } = Astro.props
---

<a
    href={ props.href }
    target='_blank'
    aria-label={`Loaded external resource ~ ${ props.href }`}
    class={ Astro.props.class }>

    <slot />
    
    <article>
        <h6 class='text-white'>
            { props.head }
        </h6>
        <TypoMono class='block text-(--fg2) text-xs mt-1.25 whitespace-nowrap'>
            { props.content }
        </TypoMono>
    </article>
    
    { props.arrow && <AngleArrowIcon class='absolute top-3 right-3 text-(--fg3) rotate-45 size-4 stroke-2 group-hover:text-white ease-in-out duration-200' /> }
</a>
