---
import HeroSection from '@/components/sections/home/HeroSection.astro'
import Navbar from '@/components/navigation/Navbar.astro'
import Layout from '@/layouts/Layout.astro'

import '@/styles/app.css'
import '@/styles/global.css'
---

<Layout title='Yoswel ~ X-Force Penetration Tester ~ Full-Stack Developer ~ Personal Portfolio'>
    <div class='h-dvh overflow-hidden'>
        <Navbar />
    
        <HeroSection />
    </div>
</Layout>
