---
import Anchor from '@/components/utils/Anchor.astro'
import TypoColored from '@/components/utils/TypoColored.astro'
import TypoMono from '@/components/utils/TypoMono.astro'
import TypoTitle from '@/components/utils/TypoTitle.astro'
---

<section class='grid gap-4 p-6 leading-none'>
    <header>
        <TypoMono class='text-(--fg3) text-xs uppercase'>
            A.k.a VIsh0k
        </TypoMono>
        
        <TypoTitle class='block text-5xl mt-4 leading-14 relative'>
            Pentester, Full-Stack<br />
            Developer and a little bit of <TypoColored class='text-5xl animate-blurred-fade-in'>everything</TypoColored>
        </TypoTitle>
    </header>

    <p class='text-(--fg2) leading-7'>
        Specializing in building robust, secure, and high-performance web applications from concept to deployment. Driven by a passion for solving complex problems, I thrive on transforming intricate requirements into elegant, user-centric solutions that not only meet business needs but also adhere to the highest security standards.
    </p>

    <p class='text-(--fg2) leading-7'>
        As a Fullstack Developer with a strong focus on Cybersecurity, I bridge the gap between development and security ensuring that applications are built with a security-first mindset from the ground up. My approach integrates secure coding practices, threat modeling, and vulnerability assessment throughout the entire development lifecycle, creating resilient systems that can withstand modern cyber threats.
    </p>

    <p class='text-(--fg2) leading-7'>
        I am always eager to face new challenges and am deeply committed to my continuous growth as both a developer and a security professional in the ever-evolving world of secure software engineering. Whether it's exploring emerging technologies, staying ahead of the latest security vulnerabilities, or finding innovative ways to optimize system performance, I approach each project with curiosity, dedication, and a relentless pursuit of excellence.
    </p>

    <div class='flex items-center gap-2'>
        <Anchor 
            href='https://github.com/Yoswell'
            target='_blank'
            aria-label='Github profile'
            class='text-sky-300'>
            Github
        </Anchor>

        <span class='text-(-fg3)'>~</span>

        <Anchor 
            href='https://www.linkedin.com/in/yoswel'
            target='_blank'
            aria-label='LinkedIn profile'
            class='text-sky-300'>
            LinkedIn
        </Anchor>
    </div>
</section>