<section class='flex fixed top-0 left-0'>
    <svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 1440 560' class='w-7xl h-100 lg:w-360 lg:h-140 rotate-180'>
        <g mask='url(&quot;#SvgjsMask1054&quot;)' fill='none'>
            <path d='M1488 560L0 560 L0 341.05Q51.69 272.74, 120 324.43Q145 277.43, 192 302.42Q280.64 271.06, 312 359.7Q340.2 315.9, 384 344.11Q411.97 300.08, 456 328.04Q530.3 282.35, 576 356.65Q587 295.64, 648 306.64Q669.58 256.22, 720 277.8Q805.03 242.83, 840 327.86Q888.67 304.53, 912 353.2Q950.99 272.19, 1032 311.18Q1074.65 281.83, 1104 324.48Q1119.36 267.84, 1176 283.19Q1251.09 238.27, 1296 313.36Q1366.51 263.87, 1416 334.37Q1428.26 274.63, 1488 286.88z' fill='rgba(11, 11, 11, 1)'></path>
            <path d='M1536 560L0 560 L0 369.07Q55.5 304.57, 120 360.07Q212.09 332.16, 240 424.26Q258.96 371.22, 312 390.17Q395.07 353.25, 432 436.32Q455.09 387.41, 504 410.5Q570.01 356.51, 624 422.52Q638.87 365.39, 696 380.26Q742.25 354.5, 768 400.75Q803.84 316.59, 888 352.42Q933.4 325.83, 960 371.23Q1026.82 366.05, 1032 432.87Q1045.64 374.51, 1104 388.15Q1119.27 331.42, 1176 346.69Q1246.51 297.2, 1296 367.71Q1394.05 345.75, 1416 443.8Q1454.24 362.05, 1536 400.29z' fill='rgba(15, 15, 15, 1)'></path>
            <path d='M1560 560L0 560 L0 493.34Q29.19 402.53, 120 431.72Q196.07 387.79, 240 463.86Q313.95 417.81, 360 491.77Q390.69 450.45, 432 481.14Q466.88 396.02, 552 430.9Q628.65 387.55, 672 464.21Q750.97 423.18, 792 502.15Q824.77 414.92, 912 447.7Q937.89 401.59, 984 427.48Q1043.4 414.88, 1056 474.28Q1106.04 404.31, 1176 454.35Q1231.26 437.61, 1248 492.86Q1250.45 423.31, 1320 425.76Q1403.64 389.4, 1440 473.05Q1520.53 433.58, 1560 514.11z' fill='rgba(8, 8, 8, 1)'></path>
            <path d='M1488 560L0 560 L0 498.13Q85.05 463.18, 120 548.23Q162.44 470.67, 240 513.11Q292.91 446.02, 360 498.93Q457.7 476.63, 480 574.34Q516.24 490.58, 600 526.82Q626.46 481.28, 672 507.74Q771.48 487.22, 792 586.7Q804.38 527.08, 864 539.46Q889.63 493.1, 936 518.73Q1014.08 476.81, 1056 554.88Q1065.13 492.01, 1128 501.14Q1195 448.14, 1248 515.14Q1331.49 478.63, 1368 562.11Q1398.7 472.81, 1488 503.51z' fill='rgba(8, 8, 8, 1)'></path>
        </g>
        <defs>
            <mask id='SvgjsMask1054'>
                <rect width='1440' height='560' fill='#ffffff'></rect>
            </mask>
        </defs>
    </svg>

    <svg xmlns='http://www.w3.org/2000/svg' version='1.1' preserveAspectRatio='none' viewBox='0 0 1440 560' class='w-7xl h-100 lg:w-360 lg:h-140 rotate-180 scale-x-[-1]'>
        <g mask='url(&quot;#SvgjsMask1054&quot;)' fill='none'>
            <path d='M1488 560L0 560 L0 341.05Q51.69 272.74, 120 324.43Q145 277.43, 192 302.42Q280.64 271.06, 312 359.7Q340.2 315.9, 384 344.11Q411.97 300.08, 456 328.04Q530.3 282.35, 576 356.65Q587 295.64, 648 306.64Q669.58 256.22, 720 277.8Q805.03 242.83, 840 327.86Q888.67 304.53, 912 353.2Q950.99 272.19, 1032 311.18Q1074.65 281.83, 1104 324.48Q1119.36 267.84, 1176 283.19Q1251.09 238.27, 1296 313.36Q1366.51 263.87, 1416 334.37Q1428.26 274.63, 1488 286.88z' fill='rgba(11, 11, 11, 1)'></path>
            <path d='M1536 560L0 560 L0 369.07Q55.5 304.57, 120 360.07Q212.09 332.16, 240 424.26Q258.96 371.22, 312 390.17Q395.07 353.25, 432 436.32Q455.09 387.41, 504 410.5Q570.01 356.51, 624 422.52Q638.87 365.39, 696 380.26Q742.25 354.5, 768 400.75Q803.84 316.59, 888 352.42Q933.4 325.83, 960 371.23Q1026.82 366.05, 1032 432.87Q1045.64 374.51, 1104 388.15Q1119.27 331.42, 1176 346.69Q1246.51 297.2, 1296 367.71Q1394.05 345.75, 1416 443.8Q1454.24 362.05, 1536 400.29z' fill='rgba(15, 15, 15, 1)'></path>
            <path d='M1560 560L0 560 L0 493.34Q29.19 402.53, 120 431.72Q196.07 387.79, 240 463.86Q313.95 417.81, 360 491.77Q390.69 450.45, 432 481.14Q466.88 396.02, 552 430.9Q628.65 387.55, 672 464.21Q750.97 423.18, 792 502.15Q824.77 414.92, 912 447.7Q937.89 401.59, 984 427.48Q1043.4 414.88, 1056 474.28Q1106.04 404.31, 1176 454.35Q1231.26 437.61, 1248 492.86Q1250.45 423.31, 1320 425.76Q1403.64 389.4, 1440 473.05Q1520.53 433.58, 1560 514.11z' fill='rgba(8, 8, 8, 1)'></path>
            <path d='M1488 560L0 560 L0 498.13Q85.05 463.18, 120 548.23Q162.44 470.67, 240 513.11Q292.91 446.02, 360 498.93Q457.7 476.63, 480 574.34Q516.24 490.58, 600 526.82Q626.46 481.28, 672 507.74Q771.48 487.22, 792 586.7Q804.38 527.08, 864 539.46Q889.63 493.1, 936 518.73Q1014.08 476.81, 1056 554.88Q1065.13 492.01, 1128 501.14Q1195 448.14, 1248 515.14Q1331.49 478.63, 1368 562.11Q1398.7 472.81, 1488 503.51z' fill='rgba(8, 8, 8, 1)'></path>
        </g>
        <defs>
            <mask id='SvgjsMask1054'>
                <rect width='1440' height='560' fill='#ffffff'></rect>
            </mask>
        </defs>
    </svg>
</section>