---
import Anchor from '@/components/utils/Anchor.astro'
import Hr from '@/components/utils/Hr.astro'
---

<Hr />

<h6 class='text-(--fg2) text-sm flex items-center justify-center gap-1 p-4'>
    Awesome portfolio •
    
    <Anchor
        href='https://www.linkedin.com/in/yoswel'
        aria-label='Yoswel Badilla LinkedIn profile'
        class=''>

        <span class='text-sky-300 text-sm font-logo'>
            了osweldev 
        </span>
    </Anchor>

    • 2026
</h6>

<Hr />

<div class='w-full h-8 bg-[url("/backgrounds/lines-bg.svg")] bg-size-[60px_60px]' />
