@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

:root {
    --bg-white: #000;
    --bg-sm-white: #0f0f0f;
    --bg-mm-white: #090909;

    --border-white: #101010;
    --border-sm-white: #151515;
    --border-mm-white: #191919;

    --font-black: #d9d9d9;
    --font-sm-black: #7f7f85;
    --font-mm-black: #20242b;

    --bg-purple: #c0a5ea;

    --radius-card: 10px;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/src/assets/font/ChakraPetch-Bold.woff2') format('woff2');
    font-weight: 900;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/src/assets/font/ChakraPetch-SemiBold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url('/src/assets/font/ChakraPetch-Medium.woff2') format('woff2');
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-mm-white) #050505 !important;
    font-family: 'Chakra Petch';
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-white);
    overflow-x: hidden;
    scrollbar-gutter: stable !important;
}

.container-home { padding: 10px 20px; overflow: hidden; }

p { line-height: 24px; }

.column-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

.cont-big-button {
    display: flex;
    gap: 15px;
    margin-top: 20px;

    .link {
        padding: 10px 20px;
        border-radius: var(--radius-card);
        background-color: var(--border-white);
        color: var(--font-black);
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        cursor: pointer;
        border: none;

        & svg { width: 22px; }

        &:hover {
            background-color: var(--font-black);
            color: var(--bg-white);
            border-color: var(--font-black);
        }
    }
}

.flurry-left {
    position: fixed;
    top: 0;
    left: 30px;
    width: 40px;
    height: 100%;
    background-image: url('/fflurry.svg');
    background-size: 100px;
    border-left: 1px dashed var(--border-mm-white);
    border-right: 1px dashed var(--border-mm-white);
    z-index: -10;
}

.flurry-right {
    position: fixed;
    top: 0;
    right: 30px;
    width: 40px;
    height: 100%;
    background-image: url('/fflurry.svg');
    background-size: 100px;
    border-left: 1px dashed var(--border-mm-white);
    border-right: 1px dashed var(--border-mm-white);
    z-index: -10;
}

.grid {
    position: absolute;
    top: -310px;
    left: 0;
    transform: rotate(-180deg);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(10, 1fr);
    z-index: -100;
    -webkit-mask-image: radial-gradient(var(--bg-white) 40%, transparent 80%);
    mask-image: radial-gradient(var(--bg-white) 40%, transparent 80%);

    div {
        width: 60px;
        height: 60px;
        border-left: 1px dashed var(--border-white);
        border-bottom: 1px dashed var(--border-white);
        z-index: -1;
        background-image: url('/fflurry.svg');
        background-size: 200px;
        opacity: 0.7;
    }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;
}

@media (max-width: 1200px) {
    .blur1 { right: -300px; }
}

@media (max-width: 900px) {
    .blur1 { right: -100px; }
    .column-2 { grid-template-columns: 1fr; }
}