@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,0,500;0,600;0,700;1,500;1,600;1,700&display=swap');

:root {
    --bg-white: #000;
    --bg-sm-white: #070707;
    --bg-mm-white: #090909;

    --border-white: #101010;
    --border-sm-white: #151515;
    --border-mm-white: #191919;

    --font-black: #d9d9d9;
    --font-sm-black: #7f7f85;
    --font-mm-black: #20242b;

    --bg-purple: #ead6a5;

    --radius-card: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-white) transparent !important;
    font-family: "Chakra Petch", serif;
}

body {
    background-color: var(--bg-white);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

p { line-height: 24px; }

.container-home {
    padding: 20px 20px;
    overflow: hidden;
}

.column-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
    position: relative;
}

.cont-big-button {
    display: flex;
    gap: 15px;

    .link {
        padding: 10px 20px;
        border-radius: var(--radius-card);
        background-color: var(--border-white);
        color: var(--font-black);
        display: flex;
        align-items: center;
        gap: 8px;
        font-weight: 500;
        cursor: pointer;
        border: none;

        & svg { width: 22px; }

        &:hover {
            background-color: var(--font-black);
            color: var(--bg-white);
            border-color: var(--font-black);
        }
    }
}

.blur1 {
    position: absolute;
    top: -850px;
    right: -700px;
    width: 100%;
    z-index: -1;
    filter: blur(0px);
    display: none;

    & img { width: 1900px; }
}

.blur2 {
    position: absolute;
    bottom: -330px;
    left: -400px;
    width: 100%;
    z-index: -1;
    filter: blur(0px);

    & img { width: 800px; }
}

footer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 200px;
    overflow: hidden;
    border-radius: 20px;
    padding: 20px;

    .grizzly-card {
        height: auto;
        display: grid;
        place-items: center;
        gap: 5px;
        padding: 30px 0;
        padding-bottom: 0;

        .title {
            text-align: center;
            color: var(--font-black);
            font-size: clamp(20px, 3vw, 25px);
            font-weight: 900;
        }

        .subTitle {
            text-align: center;
            color: var(--font-sm-black);
            font-size: 15px;
            font-weight: 500;
        }
    }

    .clone-git-tool {
        left: 15px;
        bottom: 15px;
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 10px;
        
        & svg {
            width: 32px;
            padding: 6px;
            background-color: var(--bg-white);
            outline: 1px solid var(--border-white);
            color: var(--bg-purple);
            border-radius: 8px;
            stroke-width: 2px;
        }
        
        input {
            width: 300px;
            border: none;
            background-color: var(--border-white);
            font-weight: 500;
            padding: 8px 15px;
            color: var(--font-black);
            text-overflow: ellipsis;
            outline: none;
            font-size: 14px;
            border-radius: calc(var(--radius-card));
        }
    }
}

.float-icon-left, .float-icon-right {
    position: absolute;
    z-index: 1;

    .cont-pad {
        padding: 2px;
        clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

        &:nth-child(1) {
            position: absolute;
            width: 25px; /* Aumenté el tamaño */
            height: 25px;
            z-index: 1;
    
            .float-small {
                width: 100%;
                height: 100%;
                background-color: var(--bg-white);
                clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            }
        }

        &:nth-child(2) {
            position: absolute;
            width: 35px; /* Aumenté el tamaño */
            height: 35px;
    
            .float-big {
                width: 100%;
                height: 100%;
                background-color: var(--bg-white);
                clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            }
        }
    
        &:nth-child(3) {
            position: absolute;
            width: 50px; /* Aumenté el tamaño */
            height: 50px;
    
            .float-medium {
                width: 100%;
                height: 100%;
                background-color: var(--bg-white);
                clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
            }
        }
    }   
}

.float-icon-left {
    top: -30px;
    left: -30px;

    .cont-pad {
        &:nth-child(1) {
            top: -30px;
            left: 40px;
        }

        &:nth-child(2) {
            top: 20px;
            left: -30px;
        }
    
        &:nth-child(3) {
            top: 0;
            left: 10px;
        }
    }
}

.float-icon-right {
    top: -30px;
    right: -30px;

    .cont-pad {
        &:nth-child(1) {
            top: -30px;
            right: 40px;
        }

        &:nth-child(2) {
            top: 20px;
            right: -30px;
        }
    
        &:nth-child(3) {
            top: 0;
            right: 10px;
        }
    }
}

@media (max-width: 1200px) {
    .blur1 { right: -300px; }
}

@media (max-width: 900px) {
    .blur1 { right: -100px; }
    .column-2 { grid-template-columns: 1fr; }
}