@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --bg-white: #000;
    --bg-sm-white: #070707;
    --bg-mm-white: #090909;

    --border-white: #101010;
    --border-sm-white: #151515;

    --font-black: #e1e1e1;
    --font-sm-black: #7f7f85;
    --font-mm-black: #20242b;

    --bg-purple: #7a5cbc;

    --radius-card: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    font-family: "Inter", serif;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--bg-white) transparent !important;
}

body {
    background-color: var(--bg-white);
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

p { line-height: 24px; }

.container-home {
    padding: 20px 20px;
    padding-bottom: 0;
    overflow: hidden;
}

.column-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.blur1 {
    position: absolute;
    top: -650px;
    right: -700px;
    width: 100%;
    z-index: -1;
    filter: blur(30px);

    & img {
        width: 1900px;
    }
}

.blur2 {
    position: absolute;
    bottom: -330px;
    left: -400px;
    width: 100%;
    z-index: -1;
    filter: blur(30px);

    & img {
        width: 800px;
    }
}

footer {
    position: relative;
    display: grid;
    place-items: center;
    padding: 30px 0 50px 0;

    & h3 {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--font-black);
        padding: 8px 15px;
        border-radius: 20px;
        font-size: 15px;
        outline: 1px solid var(--border-sm-white);
        background: linear-gradient(30deg, var(--bg-sm-white), var(--bg-white));

        & span {
            color: var(--font-black);
            font-size: 15px;
        }
    }
}

.float-buttons {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: grid;
    gap: 10px;
}

.btn {
    color: var(--font-black);
    border-radius: 6px;
    display: grid;
    place-content: center;
    padding: 5px 15px;
    border: 1px solid var(--border-sm-white);
    font-weight: 500;
    font-size: 14px;

    &:hover {
        color: var(--bg-white);
        background-color: var(--font-black);
        border-color: var(--font-black);
    }
}

.btn-float {
    width: 50px;
    height: 50px;
    background-color: var(--bg-white);
    border: 2px solid var(--border-white);
    border-radius: 50%;
    display: grid;
    place-content: center;
    background: linear-gradient(30deg, var(--bg-sm-white), var(--bg-white));
    text-decoration: none;

    & i {
        color: var(--font-black);
        font-size: 18px;
    }
}

@media (max-width: 1200px) {
    .blur1 {
        right: -300px;
    }
}

@media (max-width: 900px) {
    .blur1 {
        right: -100px;
    }

    .column-2 {
        grid-template-columns: 1fr;
    }
}