nav {
    position: absolute;
    top: 12px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    width: 100%;

    & .row {
        display: flex;
        align-items: center;
        gap: 10px;

        & h1 {
            font-size: 25px;
            font-weight: 700;
            color: var(--font-black);
        }

        & svg { width: 35px; color: var(--font-black); }
    }

    & ul {
        display: flex;
        gap: 8px;

        & a, button {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: var(--font-black);
            border: none;
            padding: 8px 15px;
            border-radius: 15px;
            font-weight: 500;
            background-color: var(--bg-white);

            & svg { color: var(--font-black); width: 19px; }

            &:hover {
                color: var(--bg-white);
                background-color: var(--font-black);
                border-color: var(--font-black);

                & svg { color: var(--bg-white); }
            }
        }
    }
}

header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    min-height: 800px;
    border: 1px solid var(--border-white);

    & .status {
        font-weight: 500;
        font-size: 15px;
        padding: 2px;
        
        & h3 {
            padding: 8px 20px;
            display: flex;
            align-items: center;
            gap: 5px;
            color: var(--font-black);
            border-radius: 20px;
            background-color: var(--border-sm-white);

            & svg { width: 20px; color: var(--font-black); }
        }
    }

    & h1 {
        text-align: center;
        font-size: clamp(50px, 5vw, 80px);
        color: var(--font-black);
        font-weight: 600;
        font-family: "Chakra Petch", serif;
    }

    & .letter {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: -1;
        
        & span {
            font-size: clamp(100px, 50vw, 600px);
            color: #ffffff24;
            z-index: -1;
            font-family: "Chakra Petch", serif;
            -webkit-text-stroke: 3px;
            -webkit-text-stroke-color: var(--font-black);

            &:nth-child(1) {
                opacity: 0.2;
                &::first-letter { opacity: 0.3; }
            }

            &:nth-child(2) {
                opacity: 0.2;
                &::first-letter { opacity: 0.3; }
            }

            &:nth-child(3) {
                opacity: 0.2;
                &::first-letter { opacity: 0.3; }
            }
        }

        &::first-letter { opacity: 0.1; }
    }

    & p {
        text-align: center;
        font-size: clamp(16px, 5vw, 20px);
        color: var(--font-sm-black);
        line-height: 30px;
        max-width: 80ch;
        font-family: "Chakra Petch", serif;
        backdrop-filter: blur(10px);
    }

    & .social-media {
        display: flex;
        gap: 15px;

        & .link {
            padding: 10px 20px;
            border-radius: 20px;
            background-color: var(--border-sm-white);
            color: var(--font-black);
            border: none;
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 600;
            cursor: pointer;

            & svg { width: 22px; }
        }

        & .link.active {
            background-color: var(--font-black);
            color: var(--bg-white);
        }
    }

    & .cont-line {
        position: absolute;
        bottom: -100px;
        left: 50%;
        transform: translateX(-50%);
        width: 150px;
        height: 400px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: -2;

        & div {
            width: 1px;
            height: 100%;
            background: linear-gradient(To bottom, transparent, var(--border-sm-white), transparent);
            position: relative;
            
            &::before {
                position: absolute;
                content: '';
                top: 50%;
                left: -1px;
                width: 3px;
                height: 40px;
                border-radius: 0 0 10px 10px;
                background: linear-gradient(To bottom, transparent, var(--font-black));
            }

            &:nth-child(1) {
                &::before { top: 20%; }
            }

            &:nth-child(3) {
                &::before { top: 30%; }
            }
        }
    }

    & .float-left-bottom {
        position: absolute;
        bottom: 20px;
        left: 20px;
        display: flex;
        align-self: center;
        gap: 5px;

        & svg {
            border-radius: 50%;
            background-color: var(--font-black);
            width: 30px;
            height: 30px;
            padding: 5px;
        }

        & h4 {
            padding: 0 20px;
            height: 30px;
            display: grid;
            place-content: center;
            color: var(--font-black);
            background-color: #ffffff1e;
            border-radius: 20px;
            font-weight: 500;
        }
    }

    & .float-right-bottom {
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: grid;
        gap: 10px;

        & h4 {
            color: var(--font-black);
            font-weight: 500;
        }

        & .row {
            display: flex;
            align-items: center;
            gap: 5px;

            & div {
                background-color: var(--border-sm-white);
                border-radius: var(--radius-card);
                width: 30px;
                height: 5px;
                
                &:nth-child(1) {
                    position: relative;
                    overflow: hidden;

                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 60%;
                        height: 100%;
                        background-color: var(--bg-purple);
                    }
                }
            }
        }
    }
}

.title-section {
    width: 100%;
    padding-bottom: 30px;
    gap: 5px;
    display: grid;
    position: relative;
    
    &::before {
        position: absolute;
        content: '';
        width: 100%;
        max-width: 900px;
        height: 1px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(90deg, transparent, var(--font-black), transparent);
    }

    &::after {
        position: absolute;
        content: '';
        width: 20px;
        height: 20px;
        bottom: -9px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--font-black);
        box-shadow: 0 0 15px var(--font-black);
        border-radius: 6px;
    }

    & .title {
        font-size: clamp(20px, 5vw, 25px);
        color: var(--font-black);
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        font-family: "Chakra Petch", serif;
    }

    & .subTitle {
        font-size: clamp(18px, 3vw, 18px);
        text-align: center;
        color: var(--font-sm-black);
    }
}

.experience, .service, .projects, .extras {
    max-width: 1200px;
    padding: 50px 0;
    margin: 0 auto;

    & .float-word {
        position: absolute;
        font-size: clamp(35px, 5vw, 70px);
        color: var(--font-sm-black);
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Chakra Petch", serif;
        opacity: 0.2;
    }
}

.experience {
    & span {
        transform: translateY(-100px);
        left: 50px;
        z-index: -1;
    }
}

.service {
    & span {
        transform: translateY(-100px);
        right: 50px;
        z-index: -1;
    }
}

.cont-squares {
    & .float-word {
        position: absolute;
        font-size: clamp(35px, 5vw, 70px);
        color: var(--font-sm-black);
        font-weight: 600;
        text-transform: uppercase;
        font-family: "Chakra Petch", serif;
        opacity: 0.2;
        transform: translateY(-100px);
        right: 50px;
        z-index: -1;
    }
}

.extras {
    & span {
        transform: translateY(-100px);
        left: 50px;
        z-index: -1;
    }
}


.projects {
    overflow: visible;
    & span {
        transform: translateY(-100px);
        left: 50px;
        z-index: -1;
    }
}

.contact {
    grid-template-columns: 1fr;
    max-width: 900px;

    & form {
        width: 100%;
        display: grid;
        gap: 15px;
    }

    & input {
        width: 100%;
        background-color: var(--bg-white);
        border: 1px solid var(--border-sm-white);
        border-radius: 8px;
        padding: 8px 15px;
        color: var(--font-black);

        &:focus {
            outline: 2px solid var(--border-white);
        }
    }

    & textarea {
        width: 100%;
        min-height: 200px;
        max-height: 500px;
        background-color: var(--bg-white);
        border: 1px solid var(--border-sm-white);
        border-radius: 8px;
        padding: 8px 15px;
        color: var(--font-black);

        &:focus {
            outline: 2px solid var(--border-white);
        }
    }
}

@media (max-width: 900px) {
    .image-about {
        display: none;
    }
}