nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100%);
    border-radius: var(--radius-card);
    padding: 0 15px;
    margin-bottom: 30px;
    height: 70px;
    background-color: var(--bg-white);
    position: relative;

    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 500%;
        height: 1px;
        border-bottom: 1px solid var(--border-mm-white);
    }
    
    ul {
        display: flex;
        gap: 8px;
        
        a, button {
            display: flex;
            align-items: center;
            text-decoration: none;
            gap: 8px;
            color: var(--font-black);
            border: none;
            padding: 6px 15px;
            border-radius: var(--radius-card);
            font-weight: 500;
            background-color: var(--border-white);
            border: 1px solid var(--border-mm-white);
            
            & svg { color: inherit; width: 19px; }

            &:hover {
                opacity: 0.5;
            }
        }
    }
    
    .navigate-link {
        display: flex;
        align-items: center;
        
        h1 {
            text-align: center;
            font-size: 22px;
            color: var(--font-black);
            font-weight: 900;
            text-transform: uppercase;
        }
        
        a, button {
            display: flex;
            color: var(--font-black);
            padding: 0 5px;
            background-color: transparent;
            border: none;
        }
    }
}

.about {
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 80px;

    .Me {
        width: 350px;
        -webkit-mask-image: linear-gradient(To bottom, var(--bg-white) 70%, transparent 80%);
        mask-image: linear-gradient(To bottom, var(--bg-white) 70%, transparent 80%);
    }

    .title {
        width: 100%;
        margin-top: -100px;
        text-align: center;
        font-size: clamp(40px, 10vw, 80px);
        color: var(--font-black);
        font-weight: 900;
        line-height: 1.1;
        padding: 15px;
        border-top: 1px solid var(--border-mm-white);
        border-bottom: 1px solid var(--border-mm-white);
        background-image: url('/Lines.svg');
        background-size: 200px;
    }
}

.palette-sec {
    position: absolute;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    display: flex;
    align-items: center;
    z-index: -1;
    -webkit-mask-image: linear-gradient(To top, var(--bg-white) 30%, transparent 100%);
    mask-image: linear-gradient(To top, var(--bg-white) 30%, transparent 100%);

    div {
        width: 80px;
        height: 100%;
        position: relative;
        opacity: 0.3;

        &:nth-child(1) { background: linear-gradient(to bottom, #1a1a1a 0%, transparent 50%); }
        &:nth-child(2) { background: linear-gradient(to bottom, #333333 0%, transparent 55%); }
        &:nth-child(3) { background: linear-gradient(to bottom, #4d4d4d 0%, transparent 60%); }
        &:nth-child(4) { background: linear-gradient(to bottom, #666666 0%, transparent 65%); }
        &:nth-child(5) { background: linear-gradient(to bottom, #808080 0%, transparent 70%); }
        &:nth-child(6) { background: linear-gradient(to bottom, #999999 0%, transparent 75%); }
        &:nth-child(7) { background: linear-gradient(to bottom, #b3b3b3 0%, transparent 80%); }
        &:nth-child(8) { background: linear-gradient(to bottom, #cccccc 0%, transparent 85%); }
        &:nth-child(9) { background: linear-gradient(to bottom, #e6e6e6 0%, transparent 90%); }
        &:nth-child(10) { background: linear-gradient(to bottom, #ffffff 0%, transparent 100%); }
        &:nth-child(11) { background: linear-gradient(to bottom, #e6e6e6 0%, transparent 90%); }
        &:nth-child(12) { background: linear-gradient(to bottom, #cccccc 0%, transparent 85%); }
        &:nth-child(13) { background: linear-gradient(to bottom, #b3b3b3 0%, transparent 80%); }
        &:nth-child(14) { background: linear-gradient(to bottom, #999999 0%, transparent 75%); }
        &:nth-child(15) { background: linear-gradient(to bottom, #808080 0%, transparent 70%); }
        &:nth-child(16) { background: linear-gradient(to bottom, #666666 0%, transparent 65%); }
        &:nth-child(17) { background: linear-gradient(to bottom, #4d4d4d 0%, transparent 60%); }
        &:nth-child(18) { background: linear-gradient(to bottom, #333333 0%, transparent 55%); }
        &:nth-child(19) { background: linear-gradient(to bottom, #1a1a1a 0%, transparent 50%); }

    }
}    

.navigate { height: 20px; }

.title-section {
    width: 100%;
    display: grid;
    position: relative;
    background-image: url('/Lines.svg');
    background-size: 200px;
    padding: 15px 20px;

    &::before {
        position: absolute;
        content: '';
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200vw;
        border-top: 1px solid var(--border-mm-white);
    }

    &::after {
        position: absolute;
        content: '';
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 200vw;
        border-bottom: 1px solid var(--border-mm-white);
    }

    .title {
        font-size: clamp(25px, 5vw, 30px);
        color: var(--font-black);
        text-align: left;
        max-width: 30ch;
        font-weight: 600;
    }

    .subTitle {
        max-width: 60ch;
        font-size: 16px;
        color: var(--font-sm-black);
        font-weight: 500;
        line-height: 1.6;
        margin-top: 5px;
    }

    span {
        position: absolute;
        top: calc(50% - 8px);
        left: -120px;
        color: var(--font-black);
        text-transform: uppercase;
        font-weight: 500;
        font-size: 12px;
        transform: rotate(-90deg);
        z-index: 100;
    }
}

.about, .experience, .service, .projects, .skills, .extra, .contact {
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr;
}

.about::before { display: none; }
.contact { padding-bottom: 0; }

.extra {
    width: 100%;
    display: flex; flex-direction: column; align-items: center; justify-content: center;
}

@media (max-width: 900px) {
    .image-about {
        display: none;
    }
}