.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
    backdrop-filter: brightness(0.2);
    z-index: 100;

    & .card-modal {
        position: relative;
        padding: 20px;
        display: grid;
        gap: 15px;
        width: 350px;

        & h5 {
            display: grid;
            place-items: center;
            gap: 10px;
            color: var(--font-black);
            font-weight: 600;
            padding: 20px;
            position: relative;
            text-transform: uppercase;
            border: 1px solid var(--border-mm-white);
            border-radius: var(--radius-card);
            background-color: var(--bg-white);
            
            & svg {
                width: 35px;
                height: 35px;
                display: grid;
                place-items: center;
                border-radius: 8px;
                padding: 5px;
                color: var(--bg-white);
                background-color: var(--font-black);
            }
        }

        & h6 {
            font-size: 14px;
            color: var(--font-black);
            text-transform: uppercase;
            font-weight: 500;
            background-color: var(--bg-white);
            background-image: url('/fflurry.svg');
            background-size: 130px;
            border: 1px dashed var(--border-mm-white);
            padding: 8px 10px;
            border-radius: var(--radius-card);
        }

        & .modal-question {
            display: grid;
            gap: 10px;
            padding: 20px;
            border-radius: var(--radius-card);
            border: 1px solid var(--border-mm-white);
            background-color: var(--bg-white);

            & .row {
                display: flex;
                align-items: center;
                gap: 10px;

                & label {
                    font-size: 15px;
                    color: var(--font-sm-black);
                    font-weight: 500;
                }
            }
        }

        & .form-group { display: grid; gap: 8px; }

        & .cont-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            & .btn {
                display: flex;
                align-items: center;
                gap: 8px;
                text-decoration: none;
                background-color: var(--border-white);
                border-color: var(--border-sm-white);
                padding: 8px 15px;
                border-radius: var(--radius-card);
                border: none;
                color: var(--font-black);
                font-weight: 500;

                &:hover {
                    background-color: var(--border-mm-white);
                    color: var(--font-black);
                }
            }
        }
    }
}

.modal-open { display: grid; }

.select {
    width: 18px;
    height: 18px;
    background-color: var(--bg-white);
    outline: 1px solid var(--border-mm-white);
    border-radius: 4px;   
    display: grid;
    place-content: center;

    & svg {
        width: 12px;
        stroke-width: 3px;
        color: var(--font-black);
    }
}

@media (max-width: 600px) {
    .card-modal {
        width: 350px !important;
    }
}

@media (max-width: 500px) {
    .card-modal {
        width: 330px !important;
    }
}