.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: none;
    place-items: center;
    backdrop-filter: blur(5px) brightness(0.1);
    z-index: 1000;

    & .card-modal {
        position: relative;
        padding: 20px;
        display: grid;
        gap: 15px;
        width: 350px;

        .float-icon-right {
            top: -10px;
            margin-right: 10px !important;
        }

        & h5 {
            display: grid;
            place-items: center;
            gap: 10px;
            color: var(--font-black);
            font-weight: 500;
            font-size: 18px;
            padding: 20px;
            position: relative;
            text-transform: uppercase;
            border: 1px solid var(--border-white);
            border-radius: var(--radius-card);
            background: linear-gradient(To bottom, var(--border-white), var(--bg-white), var(--bg-white));
            
            & svg {
                width: 35px;
                height: 35px;
                display: grid;
                place-items: center;
                border-radius: 8px;
                padding: 5px;
                color: var(--bg-white);
                background-color: var(--font-black);
            }
        }

        & label {
            color: var(--font-black);
            text-transform: uppercase;
            font-weight: 500;
        }

        & .modal-question {
            display: grid;
            gap: 10px;
            padding: 20px;
            border-radius: var(--radius-card);
            border: 1px solid var(--border-white);
            background: linear-gradient(160deg, var(--border-white) 0%, var(--bg-white) 30%, var(--bg-white) 100%);

            & .row {
                display: flex;
                align-items: center;
                gap: 10px;

                & label {
                    margin: 0;
                    color: var(--font-sm-black);
                    text-transform: none;
                }
            }
        }

        & .form-group {
            display: grid;
            gap: 10px;
        }

        & .cont-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 8px;

            & .btn {
                display: flex;
                align-items: center;
                gap: 8px;
                text-decoration: none;
                background-color: var(--border-white);
                border-color: var(--border-sm-white);
                padding: 8px 15px;
                border-radius: var(--radius-card);
                border: none;
                color: var(--font-black);
                font-weight: 500;

                &:hover {
                    color: var(--bg-white);
                    background-color: var(--font-black);
                    border-color: var(--font-black);
                }
            }
        }
    }
}

.modal-open { display: grid; }

.select {
    width: 18px;
    height: 18px;
    background-color: var(--border-white);
    outline: 1px solid var(--border-sm-white);
    border-radius: 4px;   
    display: grid;
    place-content: center;

    & svg {
        width: 16px;
        color: var(--font-black);
    }
}

@media (max-width: 600px) {
    .card-modal {
        width: 350px !important;
    }
}

@media (max-width: 500px) {
    .card-modal {
        width: 330px !important;
    }
}