.skills {
    overflow: hidden;
    
    article {
        display: flex;
        align-items: center;
        gap: 1px;
        width: 100%;
    }
}

.skill-box {
    max-width: 70px;
    min-width: 70px;
    max-height: 70px;
    min-height: 70px;
    padding: 10px;
    outline: 1px solid var(--border-mm-white);
    display: grid;
    place-items: center;
    
    img {
        width: 40px;
        filter: saturate(0) brightness(0.4);
    }

    &:nth-child(3) { top: 90px; left: 140px; }
    &:nth-child(4) { top: 300px; left: 70px; }
    &:nth-child(5) { top: 630px; left: 40px; }
    &:nth-child(6) { top: 170px; left: 300px; }
    &:nth-child(7) { top: 280px; right: 70px; }
    &:nth-child(8) { top: 640px; right: 180px; }
    &:nth-child(9) { top: 540px; right: 320px; }
    &:nth-child(10) { top: 40px; right: 110px; }
    &:nth-child(11) { 
        top: 770px;
        right: 410px;
        width: 50px;
        height: 50px;
    }

    &:nth-child(12) { 
        top: 470px;
        left: 200px;
        width: 50px;
        height: 50px;
    }

    &:nth-child(13) { 
        top: 90px;
        right: 310px;
        width: 50px;
        height: 50px;
    }

    &:nth-child(14) { 
        top: 350px;
        left: 350px;
        width: 80px;
        height: 80px;
    }
}