---
import TypoColored from '@/components/utils/TypoColored.astro'
import TypoTitle from '@/components/utils/TypoTitle.astro'
---

<section class='h-full flex flex-col items-center justify-center relative overflow-hidden'>
    <article class='bg-(--bg1) p-6 -mt-20 relative z-20'>
        <header class='flex relative'>
            <span class='w-1000 h-px bg-rose-400/15 absolute -top-16 left-1/2 -translate-x-1/2 z-10' />
            <span class='w-1000 h-px bg-rose-400/15 absolute -top-18 left-1/2 -translate-x-1/2 z-10' />
        </header>

        <TypoTitle class='max-w-[20ch] block text-5xl md:text-6xl text-center leading-16 md:leading-18'>
            I help people turn dreams into digital <TypoColored TypoColored class='text-5xl md:text-6xl animate-blurred-fade-in'>realities</TypoColored>
            
            <span class='w-1000 border-t border-(--br2) absolute top-0 left-1/2 -translate-x-1/2' />
            <span class='w-3 aspect-square bg-(--bg1) border border-(--br3) rounded-xs absolute -top-1.5 -left-1.25 z-10' />

            <span class='h-500 border-l border-(--br2) absolute top-1/2 left-0 -translate-y-1/2' />
            <span class='h-500 border-r border-(--br2) absolute top-1/2 right-0 -translate-y-1/2' />

            <span class='w-1000 border-t border-(--br2) absolute bottom-0 left-1/2 -translate-x-1/2' />
            <span class='w-3 aspect-square bg-(--bg1) border border-(--br3) rounded-xs absolute -bottom-1.25 -right-1.5 z-10' />
        </TypoTitle>

        <footer class='flex relative'>
            <span class='w-1000 h-px bg-rose-400/15 absolute -bottom-16 left-1/2 -translate-x-1/2 z-10' />
            <span class='w-1000 h-px bg-rose-400/15 absolute -bottom-18 left-1/2 -translate-x-1/2 z-10' />
        </footer>
    </article>
</section>